<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Lyft App</title>
</head>
<body>
  <!--HOME-->
  <section class="container-fluid bg-image hidden-sm hidden-md hidden-lg">
    <img class="top-logo" src="../assets/images/logo-white.png" alt="logo-top">
    <img class="logo2" src="../assets/images/lyft-life.png" alt="logo-lyfe">
    <div class="row">
        <div class="col-xs-12 bottom-buttons text-uppercase">
            <a class="btn" id="login" href="#"  role="button">log in</a>
            <a class="btn" id="signup" href="signup.html"  role="button">sign up</a>
        </div>
    </div>
  </section>
  <!--Vista que redireccione a página web-->
  <section class="container visible-sm visible-md visible-lg">
    <div class="row">
      <h3 class="col-sm-8 col-sm-offset-2 text-center">Estas en la url del APP, visítanos desde tu smartphone</h3>
      <h3 class="col-sm-8 col-sm-offset-2 text-center">(Encoje la pantalla y disfruta la app!)</h3>
    </div>
    <br>
    <br>
    <div class="row"></div>
      <img class='col-sm-6 col-sm-offset-3' src="../assets/images/logo-pink.png" alt="logo-pink">
    </div>
  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>