<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Success!</title>
</head>
<body>
  <section id="intro">
    <div class="hidden-sm hidden-md hidden-lg">
      <img class="img-responsive logo" src="../assets/images/logo-white.png" alt="logo">
    </div>
    <div>
      <img class="img-responsive check-logo" src="../assets/images/check-circle-big.png" alt="check-mark">
    </div>
    
  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/last.js"></script>
</body>
</html>