<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Registration</title>
</head>
<body>
    <a href="verify.html" type="button" class="btn btn-default go-back-btn hidden-sm hidden-md hidden-lg">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
  <section class="container-fluid text-center hidden-sm hidden-md hidden-lg">
    <div class="row">
      <h2 class="col-xs-6 col-xs-offset-3">Sign Up</h2>
    </div>
    <div class="row">
      <p class="col-xs-8 col-xs-offset-2">Join now for free ride credit</p>
    </div>
    <hr>

    <form class="form-inline ">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Name">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> I agree to Lyft's
              <a href="#">Terms of Service</a>
            </label>
          </div>
        </div>
      </div>
    </form>
    <a class="btn btn-default signup-next-btn register-next-btn inactive text-uppercase center-block" href="last.html" role="button">next</a>
  </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/verify.js"></script>
</body>
</html>