<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Verify Your Number</title>
</head>
<body>
  <a href="signup.html" type="button" class="btn btn-default go-back-btn hidden-sm hidden-md hidden-lg">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  <section class="container-fluid text-center hidden-sm hidden-md hidden-lg">
    <div class="row">
      <h3 class="col-xs-12 verify-title">Verify you phone number</h3>
    </div>
    <div class="row">
      <p class="col-xs-8 col-xs-offset-2">Join now for free ride credit</p>
    </div>
    <hr>
    <form class="verify-form">
      <label>LAB -</label>
      <input id="verify-input" type="number">
    </form>
    <p>Enter the code sent to </p>
    <button class="btn btn-default signup-next-btn verify-next-btn text-uppercase center-block" disabled>next</button>
  </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/verify.js"></script>
</body>
</html>